[[source]]
url = "https://pypi.org/simple"
verify_ssl = false
name = "pypi"

[dev-packages]

[packages]
"psycopg2" = "*"
flask = "*"
sqlalchemy = "*"
passlib = "*"
requests = "*"
"oauth2client" = "*"
"httplib2" = "*"
flask-httpauth = "*"

[requires]
python_version = "2.7"
