{% extends "main.html" %}
{% block title %}Edit user {% endblock %}

{% block head %}
{{ super() }}
<script src="/static/password_check.js"></script>

{% endblock %}

{% block pageheader %}Edit {{user.username}} {% endblock %}

{% block content %}

{{ super() }}

<form action="{{url_for('editUser',id=user.id, username=username, password=password, email=email)}}" method = 'POST'>
<input name=state type=hidden value="{{STATE}}">
<p>User id: {{user.id}}</p>

<p>User Name:</p>

<input type='text' size='30' name='username' value='{{user.username}}'>


<p>User Email (be careful changing this is you log in with Google):</p>

<input type='text' size='30' name='email' value='{{user.email}}'>



<p>Password</p>
<input id="password" type='text' size='30' name='password'>

<p>Password</p>
<input id="confirm_password" type='text' size='30' name='password'>

<input id='submit' type='submit' value='Change' disabled='true'>

</form>
<div id="message" display=""></div>



{% endblock %}
