<html>
        <head>
                <title>First time user</title>
                <meta charset="utf-8">
                <meta name="viewport" content="width=device-width, initial-scale=1">
                <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
                <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
                <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        </head>
<body>

<h1>Admin user created</h1>

<div>
<p>
    Your "admin" user was just created.
</p>
<p> 
        The default password is "password". Please log in 
        <a href="/login">here <strong>now</strong></a> and use the "Account" menu to change the password.
</p>

</div>

</body>

</html>